<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/baking-pastry-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
       <b>Baking<font color="red">+</font>Pastry</b>
    </a>
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      |
      <a [routerLink]="['/faqs']">FAQs</a>
      |
      <a [routerLink]="['/my-recipes']">My Recipes</a>
      |
      <a [routerLink]="['/user']">My Profile</a>
      |
      <a [routerLink]="['/admin']">Admin</a>
      |
      <a [routerLink]="['/register']">Register</a>
      |
      <a [routerLink]="['/login']">Login</a>
    </div>
  </nav>
</div>

