<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">tips and tricks for successful baking ...</h1>
    </div>
  </div>
  <div class="container">
    <app-questions-list></app-questions-list>
  </div>
</div>