<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">my recipes ...</h1>
    </div>
  </div>
  <div class="container">
    <div>
      <tabset>
        <tab heading="Create New Recipes" id="tab1">
          <br>
          <app-recipe-new></app-recipe-new>
        </tab>
        <tab heading="My Recipes">
          <br>
          <app-my-recipes-list></app-my-recipes-list>
        </tab>
      </tabset>
    </div>
  </div>
</div>