<div class="container">
  <ul>
    <div class="alert alert-info" *ngFor="let question of questionsObservable | async; let i = index">
      <h3>
        {{question.question}}
      </h3>
      <h6>
        {{question.answer}}
      </h6>
    </div>
  </ul>
</div>