<div class="container">
  <ul>
    <div class="alert alert-danger" *ngFor="let recipe of myRecipesObservable | async; let i = index">
      <div>
        <img src="{{recipe.url}}" align="right" style="width: 130px; border-radius: 50%">
      </div>

      <h3>
        {{recipe.recipeName}}
      </h3>
      <h6>
        {{recipe.recipeDescription}}
      </h6>
      <!-- Button trigger modal -->
      <br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        View Recipe
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <img src="{{recipe.url}}" width="100%">
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">{{recipe.recipeName}}</h4>
                <p>{{recipe.recipeDescription}}</p>
                <hr>
                <p class="mb-0">
                  Category: {{recipe.recipeCategory}}
                </p>
                <p class="mb-0">
                  Yield: {{recipe.recipeYield}} - {{recipe.recipeUnit}}
                </p>
                <p class="mb-0">
                  Source: {{recipe.recipeSource}}
                </p>                  
              </div>
              <hr> Ingredients:
              <br>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                  {{ ingredient.item }} - {{ ingredient.amount }} {{ ingredient.unit }}
                </li>
              </ul>
              <hr> Method:
              <br>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let method of recipe.method">
                  {{ method.step }}
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning">Send email to myself</button>
              <button type="button" class="btn btn-primary">Submit for sharing</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>