<br>
<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <h2>Shared Recipes <img src="/assets/images/baking-pastry-logo.png" height="50px"></h2>
    <hr>
    <form [formGroup]="recipeForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      </div>
      <button type="submit" (click)="tryAddRecipe(recipeForm.value)" class="btn btn-default">Add new Recipe</button>
    </form>
    <br>
    <hr>
    <br>
    <app-site-recipes-list></app-site-recipes-list>
  </div>
</div>