<header>
  <app-header></app-header>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <span>&copy; 2018</span> measure . mix . bake . eat . repeat
      <a class="navbar-brand" href="#">
        <img src="/assets/images/baking-pastry-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
         <b>Baking<font color="red">+</font>Pastry</b>
      </a>
    </nav>
  </div>
</footer>
