<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">dashboard for administrator ...</h1>
    </div>
  </div>
  <div class="container">
    <div>
      <tabset>
        <tab heading="Statistics" id="tab1">
          <br>
          <button type="button" class="btn btn-primary">
            Total number of Registered Users
            <span class="badge badge-light">4</span>
          </button>
          <br><br>
          <button type="button" class="btn btn-primary">
            Total number of Site Recipes
            <span class="badge badge-light">3</span>
          </button>
          <br><br>
          <button type="button" class="btn btn-primary">
            Total number of Site FAQs
            <span class="badge badge-light">5</span>
          </button>
          <br><br>
        </tab>
        <tab heading="Manage Site Recipes">
          <app-site-recipes></app-site-recipes>
        </tab>
        <tab heading="Manage FAQs">
          <app-site-questions></app-site-questions>
        </tab>
      </tabset>
    </div>
  </div>
</div>