<br>
<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <h2>FAQs <img src="/assets/images/baking-pastry-logo.png" height="50px"></h2>
    <hr>
    <form [formGroup]="faqsForm">
      <div class="form-group">
        <label>Question</label>
        <input type="text" formControlName="question" class="form-control">
      </div>
      <div class="form-group">
        <label>Answer</label>
        <textarea class="form-control" id="answer" rows="3" formControlName="answer"></textarea>
      </div>
      <button type="submit" (click)="tryAddQuestion(faqsForm.value)" class="btn btn-default">Add new Question</button>
    </form>
    <br>
    <hr>
    <br>
    <app-questions-list></app-questions-list>
  </div>
</div>