<div class="container">
<form #myRecipeForm="ngForm" (ngSubmit)="processUpload(myRecipeForm, myPicField)" novalidate>
  <div class="form-group">
    <label>Recipe Name</label>
    <input type="text" class="form-control" id="recipeName" name="recipeName" ngModel />
  </div>
  <div class="form-group">
    <label for="recipeDescription">Recipe Description</label>
    <textarea rows="3" class="form-control" id="recipeDescription" name="recipeDescription" ngModel></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Yield</label>
      <input type="text" class="form-control" id="recipeYield" name="recipeYield" ngModel />
    </div>
    <div class="form-group col-md-6">
      <label for="recipeUnit">Unit</label>
      <input type="text" class="form-control" id="recipeUnit" name="recipeUnit" ngModel />
    </div>
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" id="recipeCategory" name="recipeCategory" ngModel />
  </div>
  <div class="form-group">
    <label>Source</label>
    <input type="text" class="form-control" id="recipeSource" name="recipeSource" ngModel />
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="file" id="myPic" accept="image/*" #myPicField />
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
  <button type="reset" class="btn btn-danger" (click)="myRecipeForm.reset()">Reset</button>
</form>
<br>
<br>
</div>