<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">my profile ...</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
        <div *ngIf='user.provider != "password"' class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">Welcome</p>
        </div>
        <div *ngIf='user.provider == "password"' class="card-body">
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label>your full name:</label>
              <input type="text" formControlName="name" class="form-control" required>
            </div>
          </form>
          <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
        </div>
      </div>
      <br>
    </div>
    <br><br>
    <div class="col-md-4">
      <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
    </div>
  </div>
  <br>
</div>