<div class="container">
  <div class="jumbotron">
    <div class="container">
      stop hating, <h1 class="display-4">start baking!</h1>
      <p><b>Baking<font color="red">+</font>Pastry</b> is a recipe managment site/app for home baker.</p>
      <ul>
        <li>Create and edit your own recipes.</li>
        <li>Mark your own recipes as private so only you can see them.</li>
        <li>Share your recipes with friends.</li>
      </ul>
      <p>
        You have to be logged in to access your recipe boxes. Join for FREE.
      </p>
      <p>
        <a class="btn btn-danger" href="/login" role="button">Login &raquo;</a> 
        <a class="btn btn-danger" href="/register" role="button">Register &raquo;</a> 
      </p>
    </div>
  </div>
  <div class="container">
    <app-site-recipes-list></app-site-recipes-list>
  </div>
</div>