<br>
<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <h2>Create an account with
      <img src="/assets/images/baking-pastry-logo.png" height="50px"> or Google</h2>
    <h6>You have to be logged in to access your recipe boxes.</h6>
    <hr>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
      <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
    </form>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>Already have an account?
        <a href="/login">Login</a>
      </p>
    </div>
  </div>
</div>